.managePage {
  margin: 66px;
}

.appVersion {
  position: absolute;
  right: 29px;
  top: 52px;
  font-size: 14px;
  color: grey;
}

.rowControls {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

.managePage td {
  padding: 10px 12px;
}

.rowContents {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.cancel-confirm {
  margin-right: 10px;
}
